.loading-card {
    width: 25rem;
    height:9rem;
    border-radius: .25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 4px 12px 0px #0000001A;
    margin: .25rem;
}